<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation')  %>
    <main class="vh-100  container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis totam cum quis possimus inventore tenetur mollitia provident aut itaque placeat sunt, assumenda doloribus accusantium, natus velit exercitationem a. Cupiditate ipsum tempore ex ut doloremque! Iusto est ex corrupti et laudantium unde quam facilis. Aliquid perspiciatis blanditiis aperiam? Esse consequatur harum, tenetur veritatis autem adipisci nulla illum fugiat sunt hic fugit, eaque obcaecati corrupti suscipit? Eligendi optio, eos accusantium eveniet cum cumque dolor culpa autem, dignissimos impedit repellendus possimus reiciendis, maxime corrupti ducimus consequuntur fuga error dolores suscipit. Qui error rem tempora non ipsum vitae! Rerum harum sunt cupiditate autem! Animi, asperiores a atque consectetur suscipit tenetur quae mollitia debitis facilis facere id molestias architecto ad dolores autem fuga quia quod labore? Natus dolorum consequuntur aliquam impedit quos totam recusandae mollitia quidem, qui asperiores! Dignissimos modi fugiat cupiditate enim libero cumque eveniet quasi aperiam quaerat, distinctio ipsam, iure earum sequi odio! Iste harum soluta sit impedit pariatur ad vitae assumenda molestias, quae ea animi incidunt illum iusto. Ut corrupti ducimus illum! Quisquam magnam amet debitis, iste dolor dolores at id provident pariatur officiis quas accusantium voluptate quia et. Necessitatibus nostrum illum assumenda dolorum, sapiente dolores voluptatum voluptatibus neque mollitia fugiat.</p>
        </section>

    </main>
    <%- include('partials/footer') %>
</body>
</html>

